.projectModule {
  box-sizing: border-box;
  border-radius: 30px;
  background-color: black;
  border: color 1px solid;
  width: 100%;
  height: auto;
  padding: 5vw;
  margin: 0;
  margin-bottom: 2vh;
}

.projectTextModuleShell {
  box-sizing: border-box;
  border-radius: 30px;
  /* background-color: blue; */

  width: 100%;
  height: auto;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0;
  margin-bottom: 6vh;
}
