<div id="aboutMe">
    <div id="aboutLeft">
        <div id="aboutButtons">
            <div class="aboutButton" onclick="window.open('https://drive.google.com/file/d/1QD98TFJirNIgP-25xvauB8IzqllKmoUV/view?usp=sharing', '_blank');">

                <div class="aboutBTitle">resume</div>
            </div>
            <div class="aboutButton" onclick="window.location.href='mailto:helloitisthomasm@gmail.com';">
                <div class="aboutBTitle">email</div>
            </div>
        </div>
        <div id="aboutTextContainer">
hello, it's Thomas McElmeel :]<br>I'm a creative coder who can currently be found in Midtown Detroit. I build digital tools for others to express themselves with, and tools that express themselves. I have the most experience applying my work to branding systems.
<br>Thanks for checking out my site!<br><br>Photo by Mariana Matos</div>
    </div>
    <div id="aboutRight">
        <div id="imageContainer">
            <img src="assets/me.png" ></img>
        </div>
    </div>
</div>