<div id="footer">
  <div id="wrapper">
    <div class="footerChild" id="footerLeftCenter">
      <div class="footerChild" id="footerLeftCenterTop"></div>
      <div class="footerChild" id="footerLeftCenterBottom">
        <div class="footerChild" id="footerLeft">
          <img src="/assets/images/logo.svg" alt="Code Blue Logo">
        </div>
        <div class="footerChild" id="footerCenter">
          <div class="smallShortSerifCopy" >Protection and restoration of our blue planet through innovative projects and strategic alliances.</div>
          <div id="footerCenterChildBottom">
            <div class="heroPhotoCredit">QUICK LINKS
                            <div class="vertGap1">
                <br>
              </div>
              <ul>
                <li>
                  <a class="footerLinks" target="_blank" href="/pages/story">
                                        About Us</a>
                </li>
                <li>
                  <a class="footerLinks" target="_blank" href="/pages/impactMedia" >
                                        Impact Media
                                        </a>
                </li>
                <li>
                  <a class="footerLinks" target="_blank" href="/pages/conservationGrantees" >
                                        Conservation Grantees</a>
                </li>
              </ul>
            </div>
            <div></div>
            <div class="heroPhotoCredit">CONTACT
                            <div class="vertGap1">
                <br>
              </div>
              <ul>
                <li>
                  <a class="footerLinks" target="_blank" href="#link1">
                                        bonjour@codebluefoundation.org</a>
                </li>
                <li>
                  <a class="footerLinks" target="_blank" href="https://www.linkedin.com/in/shari-sant-b0509a47/" >
                                        LinkedIn</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerChild footerFishContainer" id="footerRight">
      <img class="footerFish" src="/assets/images/fish4.png" alt="Sea Creature">
      <div class="footerCopyright" id="footerRightCopy">Copyright 2025 Code Blue Foundation.<br>All rights reserved.</div>
    </div>
  </div>
</div>