<div id="footer">
    <div id="wrapper">
        <div class="footerChild" id="footerLeftCenter">
            <div class="footerChild" id="footerLeftCenterTop"></div>
            <div class="footerChild" id="footerLeftCenterBottom">
                <div class="footerChild" id="footerLeft">
                    <img src="/assets/images/logo.svg" alt="Code Blue Logo">
                </div>
                <div class="footerChild" id="footerCenter">
                    <div class="h0_5" >PROTECTION AND RESTORATION OF OUR BLUE PLANET THROUGH INNOVATIVE PROJECTS AND STRATEGIC ALLIANCES.</div>
                    <div id="footerCenterChildBottom">
                        <div class="b1_0">Quick Links
                        <!---
                        <div class="b1_0 navLink" >
                            <a href="/" data-replace="CONSERVATION GRANTEES">
                            <span>CONSERVATION GRANTEES</span></a>
                        </div>
                        -->
                            <ul>
                                <li>
                                    <a class="b2_0" href="#link1" data-replace="About Us">
                                        <span>About Us</span></a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link2" data-replace="Impact Media">
                                        <span>Impact Media</span></a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link3" data-replace="Conservation">
                                        <span>Conservation</span></a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link4" data-replace="Grantees">
                                        <span>Grantees</span></a>
                                </li>
                            </ul>
                        </div>
                        <div></div>
                        <div class="b1_0">Contact
                            <ul>
                                <li>
                                    <a class="b2_0" href="#link1" data-replace="contact@codeblue.org">
                                        <span>contact@codeblue.org</span></a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link2" data-replace="LinkedIn">
                                        <span>LinkedIn</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerChild" id="footerRight">
            <img id="footerFish" src="/assets/images/fish4.png" alt="Sea Creature">
            <div class="b1_0" id="footerRightCopy">Copyright 2024 Code Blue Foundation. All rights reserved.</div>
        </div>
    </div>
</div>