<div id="footer">
    <div id="wrapper">
        <div class="footerChild" id="footerLeftCenter">
            <div class="footerChild" id="footerLeftCenterTop"></div>
            <div class="footerChild" id="footerLeftCenterBottom">
                <div class="footerChild" id="footerLeft">
                    {# <img src="/assets/logo.png" alt="Code Blue Logo" style="max-width: 100%; height: auto;"> #}
                </div>
                <div class="footerChild" id="footerCenter">
                    <div class = "h0_5">PROTECTION AND RESTORATION OF OUR BLUE PLANET THROUGH INNOVATIVE PROJECTS AND STRATEGIC ALLIANCES.</div>
                    <div id="footerCenterChildBottom">
                        <div class="b1_0">Quick Links
                            <ul>
                                <li>
                                    <a class="b2_0" href="#link1">About Us</a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link2">Impact Media</a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link3">Conservation</a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link4">Grantees</a>
                                </li>
                            </ul>
                        </div>
                        <div class="b1_0">Contact
                            <ul>
                                <li>
                                    <a class="b2_0" href="#link1">contact@codeblue.org</a>
                                </li>
                                <li>
                                    <a class="b2_0" href="#link2">LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footerChild" id="footerRight">
            <img id="footerFish" src="/assets/images/fish.png" alt="Sea Creature">
            <div class="b1_0" id="footerRightCopy">Copyright 2024 Code Blue Foundation. All rights reserved.</div>
        </div>
    </div>
</div>