<div id="rightContainer">
  <div id="knobBar">
    <div class="knob-container">
      <div class="lightContainer">
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
      </div>
      {# <div class="knob"></div> #}
      <div class="knob-display">
        <p>software</p>
      </div>
    </div>
    <div class="knob-container">
      <div class="lightContainer">
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
      </div>
      {# <div class="knob"></div> #}
      <div class="knob-display">
        <p>identity</p>
      </div>
    </div>
    <div class="knob-container">
      <div class="lightContainer">
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
      </div>
      {# <div class="knob"></div> #}
      <div class="knob-display">
        <p>experience</p>
      </div>
    </div>
    <div class="knob-container">
      <div class="lightContainer">
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
        <div class="knobLight"></div>
      </div>
      {# <div class="knob"></div> #}
      <div class="knob-display">
        <p>data viz</p>
      </div>
    </div>
  </div>
  <div id="social-container">
    <div class="socialIcon" id="aboutIcon">
      <img data-src="/assets/social-icons/info.png">
    </div>
    <div class="socialIcon" target="_blank">
      <a href="https://github.com/helloItIsThomas" target="_blank">
        <img data-src="/assets/social-icons/git.png">
      </a>
    </div>
    <div class="socialIcon" target="_blank">
      <a href="https://www.instagram.com/tom_mcelmeel/" target="_blank">
        <img data-src="/assets/social-icons/insta.png">
      </a>
    </div>
    <div class="socialIcon" target="_blank">
      <a href="https://www.linkedin.com/in/thomas-mcelmeel/" target="_blank">
        <img data-src="/assets/social-icons/linked.png">
      </a>
    </div>
  </div>
</div>