<div id="mobileFooter">
  <div id="wrapper" class="margin0LR">
    <div>
      <div class="threeSevenGridMobile footerFishContainer">
        <img style="bottom: 0;" src="/assets/images/logo.svg" alt="Code Blue Logo">
        <img class="footerFish" src="/assets/images/fish4.png" alt="Sea Creature">
      </div>
      <div class="bser0" >Protection and restoration of our blue planet through innovative projects and strategic alliances.</div>
    </div>
    <div class="bm0">QUICK LINKS
                  <ul>
        <li>
          <a class="bs3" target="_blank" href="/pages/story">
                                        About Us</a>
        </li>
        <li>
          <a class="bs3" target="_blank" href="/pages/impactMedia" >
                                        Impact Media
                                        </a>
        </li>
        <li>
          <a class="bs3" target="_blank" href="/pages/conservationGrantees" >
                                        Conservation Grantees</a>
        </li>
      </ul>
    </div>
    <div class="bm0">CONTACT
                              <ul>
        <li>
          <a class="bs3" target="_blank" href="#link1">
                                        jane@kachmermanagement.com</a>
        </li>
        <li>
          <a class="bs3" target="_blank" href="https://www.linkedin.com/in/shari-sant-b0509a47/" >
                                        LinkedIn</a>
        </li>
      </ul>
    </div>
    <div class="bm3" class="textAlignLeft">
                        Copyright 2025 Code Blue Foundation. All rights reserved.
                  </div>

  </div>
</div>