<div class="navBar margin0LR">
      <div id="hamburgerMenu">
            <img src="/assets/icons/hamburger.svg" alt="Menu"></img>
      </div>
      <div class="navLogo">
            <a href="/index.html">
                  <img src="/assets/images/logo.svg" alt="Code Blue">
            </a>
      </div>
</div>