<div class="navBar">
      <div class="navLogo">
            <img src="/assets/images/logo.svg" alt="Code Blue">
      </div>
      <div class="navLinks">
            <div class="b1_0 navLink" >
                  <a href="/" data-replace="IMPACT MEDIA">
                        <span>IMPACT MEDIA</span>
                  </a>
            </div>
            <div class="b1_0 navLink" >
                  <a href="/pages/conservationGrantees" data-replace="CONSERVATION GRANTEES">
                        <span>CONSERVATION GRANTEES</span></a>
            </div>
            <div class="b1_0 navLink">
                  <a href="/" data-replace="ABOUT">
                        <span>ABOUT</span></a>
            </div>
      </div>
</div>