<div class="navBar">
      <div class="navLogo">
            <a href="/index.html">
                  <img src="/assets/images/logo.svg" alt="Code Blue">
            </a>
      </div>
      <div class="navLinks">
            <div class="b1_0 navLink" >
                  <a href="/pages/impactMedia" data-replace="IMPACT MEDIA">
                        <span>IMPACT MEDIA</span>
                  </a>
            </div>
            <div class="b1_0 navLink" >
                  <a href="/pages/conservationGrantees" data-replace="CONSERVATION GRANTEES">
                        <span>CONSERVATION GRANTEES</span></a>
            </div>
            <div class="b1_0 navLink">
                  <a href="/pages/story" data-replace="ABOUT">
                        <span>ABOUT</span></a>
            </div>
      </div>
</div>