---
layout: layouts/base.njk
title: "Conservation Grantees"
---

<script>
      let bodyGradient = document.getElementById('bodyGradient');
      bodyGradient.style.backgroundImage = 'url({{ someData.conservationGrantees.heroImage | url }})';
</script>

{% from 'macros/staticHeaderComp.njk' import staticHeaderComp %}
{{ staticHeaderComp(someData.headers.grantees, someData.conservationGrantees) }}

<div class="vSpacer1"></div>

{%- for grantee in someData.grantees -%}
      <div class="grantee margin0LR">
            <div class="margin1LR">
                  <hr>
                  <div class="threeSevenGrid">
                        <div >
                              <h1 class="h0_5">{{ grantee.title }}</h1>
                              <img style="mix-blend-mode: screen;" src="{{ grantee.image }}"  class="grantee_logo">
                        </div>
                        <div>
                              <div class="bs3">{{ grantee.description }}</div>
                              <button class="ctaButton">VISIT {{ grantee.link }}</button>
                        </div>
                  </div>
            </div>
      </div>
{%- endfor -%}