---
layout: layouts/base.njk
title: "Hello from Conservation Media"
---

Supporting impactful organizations that champion conservation and restoration of critical planetary ecosystems.

{%- for grantee in someData.grantees -%}
      <div class="grantee">
            <hr>
            <div class="threeSevenGrid">
                  <div class="grantee_left">
                        <h1 class="h0_5">{{ grantee.title }}</h1>
                        <img src="{{ grantee.image }}"  class="grantee_logo">
                  </div>
                  <div class="grantee_right">
                        <p>{{ grantee.description }}</p>
                        <button class="ctaButton">VISIT {{ grantee.link }}</button>
                  </div>
            </div>
      </div>
{%- endfor -%}