---
layout: layouts/base.njk
title: "Conservation Grantees"
---
{% from 'macros/heroImg.njk' import heroImg %}
{% from 'macros/staticHeaderComp.njk' import staticHeaderComp %}

<script type="module">
      import {styleThisPageNavLink} from "../../js/utils.js";
      styleThisPageNavLink(document.querySelector(".navLinks a[href='/pages/conservationGrantees'] span"));
</script>

{{ heroImg(someData.conservationGrantees.heroImage) }}
{{ staticHeaderComp(someData.headers.grantees, someData.conservationGrantees) }}

<div class="vSpacer1"></div>

{%- for grantee in someData.grantees -%}
      <div class="margin0LR">
            <div class="margin1LR">
                  <hr>
                  <div class="threeSevenGrid">
                        <div >
                              <h1 class="h0_5">{{ grantee.title }}</h1>
                              <img style="mix-blend-mode: screen;" src="{{ grantee.image }}"  class="grantee_logo">
                        </div>
                        <div>
                              <div class="vertGap0"></div>
                              <div class = "granteeRight">
                                    <div class="bs3">{{ grantee.description }}</div>
                                    <div class="vertGap0"></div>
                                    <button style="z-index: 2;" onclick="window.open('{{ grantee.link }}', '_blank')" class="ctaButton">VISIT {{ grantee.title }}</button>
                              </div>
                              <div class="vertGap0"></div>
                        </div>
                  </div>
            </div>
      </div>
{%- endfor -%}