{% macro staticHeaderComp(headers, page) %}
      <div class="headerHero margin0LR">
            <div class="headerTop margin1LR">
                  <div class="headerText">
                        <div class="twoColGrid">
                              <div>
                                    {% if headers.subTitle %}
                                          <div class="bm3">{{headers.subTitle}}</div>
                                          <div class="vertGap1"></div>
                                    {% endif %}
                                    <div class="h2_0">{{headers.title}}</div>
                                    {%if headers.subDescription %}
                                          <div class="vSpacer0"></div>
                                          <div class="bs3">{{headers.subDescription}}</div>
                                    {% endif %}
                              </div>
                        </div>
                        {% if page.imageCredit %}
                              <div class="vertGap1"></div>
                              <div class="bm0">PHOTO: {{page.imageCredit | upper}}</div>
                        {% endif %}
                  </div>
            </div>
      </div>
{% endmacro %}