{% macro staticHeaderComp(headers, page) %}
      <div class="headerHero margin0LR">
            <div class="headerTop margin1LR">
                  <div class="headerText">
                        <div class="twoColGrid">
                              <div>
                                    <div class="bm3">{{headers.subTitle}}</div>
                                    <div class="h2_0">{{headers.title}}</div>
                                    <div class="bs3">{{headers.subDescription}}</div>
                              </div>
                              <div></div>
                        </div>
                        {% if page.imageCredit %}
                              <div class="bm0">Photo: {{page.imageCredit}}</div>
                        {% endif %}
                  </div>
            </div>
      </div>
{% endmacro %}