{% macro sffC(film) %}
      <div class="subFeaturedFilmComp">
            <img src="{{ film.posterImage }}">
            <div class="b1_0">
            FILM
      </div>
            <div class="h0_5">
                  {{ film.title }}
            </div>
            <div class="b2_0">
                  {{ film.description }}
            </div>
            <button class="ctaButton b1_0">
                  <a href="#" data-replace="{{ film.ctaButton.name }}">
                        <span>{{ film.ctaButton.name }}</span>
                  </a>
            </button>
      </div>
{% endmacro %}