{% macro sffC(film) %}

      <div class="subFeaturedFilmComp">
            <a href="/films/{{ film.slug.current }}">
                  <img src="{{ film.posterImage }}" alt="{{ film.title }} poster">
            </a>
            <div class="bm3">
                  {{ film.metadata.year }}
            </div>
            <div class="h0_5">
                  {{ film.title }}
            </div>
            <div class="bs1">
                  {{ film.description }}
            </div>
            <button class="ctaButton ">
                  <a href="/films/{{film.slug.current}}" data-replace="LEARN MORE">
                        <span>LEARN MORE</span>
                  </a>
            </button>
      </div>
{% endmacro %}