* div {
  /* border: 1px solid white; */
}

* {
  cursor: none !important;
}

:root {
  --padLeft: 4rem;
  --padRight: 4rem;
  --textBoxMargin: 2rem;
  --bodyMargin: 3rem;
  --borderRadius: 15px;

  --textBoxMarginLeft: 5%;
  --vSpacer: 10rem;
}

.fullHeightWidth {
  height: 100vh;
  width: 100%;
}

.vSpacer {
  margin-top: var(--vSpacer);
  margin-bottom: var(--vSpacer);
}

.padLeft {
  padding-left: var(--padLeft) !important;
}

.padRight {
  padding-right: var(--padRight) !important;
}

.textBoxMargin {
  margin: var(--textBoxMargin);
}

.textBoxMarginLROnly {
  margin-left: var(--textBoxMargin) !important;
  margin-right: var(--textBoxMargin) !important;
}

.component {
  padding-top: 1.5rem;
}

.componentContainer {
  padding-top: 10rem;
}

.reducedVerticalMargin {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

html::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #030b22;
}

body * {
  box-sizing: inherit;
  color: white;
}

#bodyGradient {
  background-color: #03091c;
  /* background: linear-gradient(to bottom, #03091c, #1a2a4b); */
}

#subBody {
  margin-left: var(--bodyMargin);
  margin-right: var(--bodyMargin);
}

#cursorCanvas {
  pointer-events: none;
  position: fixed;
  z-index: 6;
  width: 100vw;
  height: 100vh;
}

main {
  display: none;
}
