.ctaButton {
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  width: fit-content;
  border-radius: 50px;
  height: fit-content;
  background-color: transparent;
  font-family: "cdmono-semiBold";
  text-transform: uppercase;
  font-size: var(--pt14);
}

.horizontalButtonWrapper {
  gap: 5rem;
  display: flex;
  flex-direction: row;
}
