.centered .background {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.centered .background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will ensure the image fills the space and crops if needed */
}

#featuredFilmForeground {
  gap: 1rem;
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30%;
  min-width: 10%;
}
