/* 2 Column Horizontal Grid */

* {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.twoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  hyphens: auto;
  width: 100%;
  box-sizing: border-box;
}

.threeColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-fit: cover;
  object-position: center;
  gap: 0.5rem;
}

.threeSevenGrid {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 4.5rem;
}

.threeSevenGridMobile {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 4.5rem;
}

.sevenThreeGrid {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 8rem;
}

.sevenFiveGrid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 0.5rem;
}

.galleryGrid img {
  aspect-ratio: 1.8 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Centered */
.centered {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignVertCenter {
  align-items: center;
}

.awardsTicker {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  width: 100%;
  height: auto;
  align-items: center;
  mix-blend-mode: screen;
}

.awardsTicker img {
  height: auto;
  width: 100%;
  max-height: 20%;
  object-fit: contain;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
