.subFeaturedFilmComp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subFeaturedFilmComp a {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 70%;
}

/* .subFeaturedFilmComp img { */
/* object-fit: cover; */
/* object-position: top; */
/* width: 100%; */
/* max-height: 70%; */
/* } */
