<!DOCTYPE html>
<script src="/js/gsap/gsap.min.js"></script>
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

<html lang="en">
    <head>
        <script type="module" src="/js/globalVars.js"></script>

        <meta charset="UTF-8"/>
        <meta property=”og:url content=”https://github.com/timClicks/glsl-shader-intro”/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/base.css"/>
        <link rel="stylesheet" href="/styles/nav.css"/>
        <link rel="stylesheet" href="/styles/fonts.css"/>
        <link rel="stylesheet" href="/styles/media.css"/>
        <link rel="stylesheet" href="/styles/footer.css"/>
        <link rel="stylesheet" href="/styles/globals.css"/>
        <link rel="stylesheet" href="/styles/featuredPartnership.css"/>
        <link rel="stylesheet" href="/styles/buttons.css"/>
        <link rel="stylesheet" href="/styles/featuredFilm.css"/>
        <link rel="stylesheet" href="/styles/purpose.css"/>
        <link rel="stylesheet" href="/styles/splash.css"/>
        <link rel="stylesheet" href="/styles/mission.css"/>
        <link rel="stylesheet" href="/styles/grids.css"/>

        <title id="page-title">{{ title }}</title>
    </head>
    <body>
        <div id="bodyGradient">

            <div id="cursorCanvas"></div>
            {% include "components/homeSections/splash.njk" %}
            <div id="subBody">
                {{ content | safe }}
            </div>

        </div>
    </body>
</html>

<script type="module" src="/js/dynamicContent.js"></script>
<script type="module" src="/js/lazyLoad.js"></script>
<script type="module" src="/js/mobileDetection.js"></script>
<script type="module" src="/js/utils.js"></script>
<script type="module" src="/js/setup.js"></script>
<script type="module" src="/js/splashSketch.js"></script>
<script type="module" src="/js/cursorSketch.js"></script>
<script type="module" src="/js/sphereSketch.js"></script>