<div class="featuredPartnership component">
    <div class="background">
        <img src="/assets/images/sylviaEarle.png" alt="Sylvia Earle">
    </div>
    <div class="foreground padding1LRLeft">
        <div class="bm3">EVENT</div>
        <div class="h1_0 vertGap0">Sylvia Earle's 90th Birthday</div>
        <div class="bs1">From record breaking free diver to icon of conservation, Sylvia Earle has done more for the ocean than perhaps any other person in history.</div>
        <button class="ctaButton vertGap1 ">
            <a href="#" data-replace="LEARN MORE">
                <span>LEARN MORE</span>
            </a>
        </button>
        <div class="bm0" >PHOTO: SYLVIA EARLE</div>
    </div>
</div>