<div class="featuredPartnership">
    <div class="background">
        <img src="/assets/images/sylviaEarle.png" alt="Sylvia Earle">
    </div>
    <div class="foreground">
        <div class="featuredPartnershipType">EVENT</div>
        <div id="featuredPartnershipEventTitle" class="h1_0">Sylvia Earle's 90th Birthday</div>
        <div class="featuredPartnershipEventCopy">From record breaking free diver to icon of conservation, Sylvia Earle has done more for the ocean than perhaps any other person in history.</div>
        <div class="ctaButton">LEARN MORE</div>
    </div>
</div>