<div class="featuredPartnership component">
    <div class="background">
        <img src="/assets/images/sylviaEarle.png" alt="Sylvia Earle">
    </div>
    <div class="foreground padLeft">
        <div class="b1_0 textBoxMargin reducedVerticalMargin">EVENT</div>
        <div class="h1_0 textBoxMargin reducedVerticalMargin">Sylvia Earle's 90th Birthday</div>
        <div class="b2_0 featuredPartnershipEventCopy textBoxMargin reducedVerticalMargin">From record breaking free diver to icon of conservation, Sylvia Earle has done more for the ocean than perhaps any other person in history.</div>
        <div class="b1_0 ctaButton textBoxMargin reducedVerticalMargin">LEARN MORE</div>
    </div>
</div>