<div class="grantee">
      <hr>
      <div class="threeSevenGrid">
            <div class="grantee_left">
                  <h1 class="h0_5">Mission Blue</h1>
                  <img src="assets/images/missionBlue.png"  class="grantee_logo">
            </div>
            <div class="grantee_right">
                  <p>Mission Blue is a non-profit organization that works to protect the world's oceans and marine life. They are a grantee of the Oceanic Society and have received funding from the Oceanic Society to support their work.</p>
                  <button class="ctaButton">VISIT MISSIONBLUE.ORG</button>
            </div>
      </div>
</div>