{# <div id="projectBackC">
  <div class="projectBackCBanner">
    <div class = "row1">
      <div class = "pH">{{ title }}</div>
    </div>
    <div class = "row2"></div>
    <div class = "row3">
      <div class="descriptionCopy">
        {{ description }}
      </div>
    </div>
  </div>
  <div class="projectBackCContent">
    {% if topTextModule %}
      <div class="projectTextModuleShell">
        <div class="project-text-module">
          <div class="text-grid">
            {% for p in topTextModule.cols %}
              <p>{{ p.src }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    {% for module in modules %}
      <div class="projectModule">
        {% for component in module.components %}
          {% if component.type == 'imageTile' %}
            {% include "layouts/subModules/imageTile.njk" %}
          {% elif component.type == 'appImage' %}
            {% include "layouts/subModules/appImage.njk" %}
          {% elif component.type == 'fullWidthImage' %}
            {% include "layouts/subModules/fullWidthImage.njk" %}
          {% elif component.type == 'text' %}
            {% include "layouts/subModules/text.njk" %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    {% include "components/footer.njk" %}
  </div> #}