{# <div class="subFeaturedFilmComp">
      <img src="/assets/images/gauchoGaucho/gauchoGaucho-poster.png">
      <div class="b1_0">
            FILM
      </div>
      <div class="h0_5">
      Ghost Fleet
      </div>
      <div class="b2_0">
      Directed by Matthieu Rytz and Narrated by Jason Momoa, Deep Rising exposes the corporations and corrupted world leaders trying to exploit our common heritage of humankind.
      </div>
      <button class="ctaButton b1_0">
            <a href="#" data-replace="WATCH NOW">
                  <span>LEARN MORE</span>
            </a>
      </button>
</div> #}