<script>
      console.log("threeFeaturedFilms.njk");
</script>

<div class="threeFeaturedFilmsComp">
      <div class="threeColGrid">
            {% include "layouts/subFeaturedFilm.njk" %}
            {% include "layouts/subFeaturedFilm.njk" %}
            {% include "layouts/subFeaturedFilm.njk" %}
      </div>
</div>