<div class="centered">
    <div class="background">
        <img src="/assets/images/whales.png">
    </div>
    <div class="foreground" id="featuredFilmForeground">
        <div class="b1_0 featuredPartnershipType">FILM</div>
        <div id="featuredPartnershipEventTitle" class="h1_0">Deep Rising</div>
        <div class="featuredPartnershipEventCopy b1_0">A heart-stopping journey to the most inaccessible part of our planet.</div>
        <div class="ctaButton b1_0">WATCH NOW</div>
    </div>
</div>