<div class="centered">
    <div class="background">
        <img src="/assets/images/whales.png" alt="Sylvia Earle">
    </div>
    <div class="foreground" id="featuredFilmForeground">
        <div class="featuredPartnershipType">FILM</div>
        <div id="featuredPartnershipEventTitle" class="h1_0">Deep Rising</div>
        <div class="featuredPartnershipEventCopy">A heart-stopping journey to the most inaccessible part of our planet.</div>
        <div class="ctaButton">WATCH NOW</div>
    </div>
</div>