<div class="centered component">
    <div class="background">
        <img src="/assets/images/whales.png">
    </div>
    <div class="foreground" id="featuredFilmForeground">
        <div id="featuredFilmInfo">
            <div class="bm3">FILM</div>
            <div  class="h1_0 vertGap0">Deep Rising</div>
            <div class=" bs1">A heart-stopping journey to the most inaccessible part of our planet.</div>
            <button class="ctaButton vertGap1">
                <a href="https://gathr.com/vod/1011554f" target="_blank" data-replace="WATCH NOW">
                    <span>WATCH NOW</span>
                </a>
            </button>

        </div>
        <img src="/assets/images/sundance.png">
    </div>
</div>