<div class="margin0LR" id="mission">
    <div class="padding1LR twoColGrid alignVertCenter" style="height: 100%;" >
        <div>
            <div class="h1_0" id="missionTitle">OUR<br>MISSION</div>
            <div class="vSpacer0"></div>
            <div class="bs3" id="missionCopy">Code Blue Foundation is a private charitable foundation supporting innovative projects that promote protection, restoration and resilience of critical ocean exosystems and climate stability. <br><br> We also support media projects which raise awareness of the importance of these essential natural systems which support all life on the planet.</div>
            <div class="vSpacer0"></div>
            <div class="horizontalButtonWrapper">
                <button class="ctaButton">
                    <a href="/pages/story" data-replace="ABOUT US">
                        <span>ABOUT US</span>
                    </a>
                </button>
                <button class="ctaButton">
                    <a href="#" data-replace="CONTACT">
                        <span>CONTACT</span>
                    </a>
                </button>
            </div>
        </div>
        <div class="" id="missionRight">
            <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.62/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/WX4bk44hmvd3I2C3/scene.splinecode"></spline-viewer>
        </div>
    </div>
</div>