<div class="margin0LR" id="mission">
  {# <div class="padding1LR twoColGrid alignVertCenter" style="height: 100%;" > #}
  {# <div class="padding1LR twoColGrid alignVertCenter"> #}
  <div class="padding1LR twoColGridMission">
    <div>
      <div class="serifSubtitle" id="missionTitle">OUR<br>MISSION</div>
      <div class="serifSubtitle_spaceBelow"></div>
      <div class="bodyCopyBigger" id="missionCopy">Code Blue Foundation is a private charitable foundation supporting innovative projects that promote protection, restoration and resilience of critical ocean exosystems and climate stability. <br><br> We also support media projects which raise awareness of the importance of these essential natural systems which support all life on the planet.</div>
      <div class="vSpacer0"></div>
      <div class="horizontalButtonWrapper">
        <button class="ctaButton">
          <a href="/pages/story" >
                        ABOUT US
                    </a>
        </button>
        <button class="ctaButton">
          <a href="mailto:bonjour@codebluefoundation.org">CONTACT</a>
        </button>
      </div>
    </div>
    <div class="missionRight">
      <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.66/build/spline-viewer.js"></script>
      <div>
        <spline-viewer loading-anim-type="spinner-small-light" loading="eager" url="https://prod.spline.design/WX4bk44hmvd3I2C3/scene.splinecode"></spline-viewer>
        <div class="arrowCTA navTitle" style="opacity: 0.5;">
          <div id="upArrow">
            <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 7.5L7.5 1L14 7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          Spin
        </div>
      </div>
    </div>
  </div>
</div>