<div class="margin0LR fullHeightWidth" id="mission">
    <div class="padding1LR twoColGrid alignVertCenter" >
        <div class="">
            <div class="h1_0" id="missionTitle">OUR<br>MISSION</div>
            <div class="vSpacer0"></div>
            <div class="bs3" id="missionCopy">Code Blue Foundation is a private charitable foundation supporting innovative projects that promote protection, restoration and resilience of critical ocean exosystems and climate stability. <br><br> We also support media projects which raise awareness of the importance of these essential natural systems which support all life on the planet.</div>
            <div class="vSpacer0"></div>
            <div class="horizontalButtonWrapper">
                <button class="ctaButton">
                    <a href="#" data-replace="ABOUT US">
                        <span>ABOUT US</span>
                    </a>
                </button>
                <button class="ctaButton">
                    <a href="#" data-replace="CONTACT">
                        <span>CONTACT</span>
                    </a>
                </button>
            </div>
        </div>
        <div class="" id="missionRight">
            {# <iframe id="mission-iframe" src="https://my.spline.design/meeet-a08e4591ecc4a7ebca9c763d8f38a995/" width="100%" height="400" frameborder="0" allowfullscreen></iframe> #}
        </div>
    </div>

</div>