<div class="fullHeightWidth" id="purpose">
    <div class="foreground">
        <div></div>
        <div class="h1_0" id="tideDataStatement">
            <div class="h1_0 centerType" id="splashStatement">Protection and restoration of our<span class="_blue"> blue planet </span>through innovative projects and strategic alliances.</div>
            {# <div class="bm0 tideDataText"> #}
            {# LOCATION<div id="tideDataLocation"></div> #}
            {# &nbsp;&nbsp;&nbsp; #}
            {# SEA LEVEL<div id="tideDataSeaLevel"></div> #}
            {# </div> #}
        </div>
        {# <div id="tideCanvas"></div> #}
    </div>
    <div class=" arrowCTA" id="purposeCTA">
        <div id="downArrow">
            <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7.5 7.5L14 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></svg>
            </div>
        </div>
    </div>