<div class="fullHeightWidth" id="purpose">
    <div class="foreground">
        <div></div>
        <div class="h1_0" id="tideDataStatement">The rising seas are among the most visible and measurable effects of climate change, with global sea levels climbing steadily higher each year. These dots show you the <span class="_blue">real-time water levels</span> in your area, letting you witness this change as it happens in your local waters.
            <div class="bm0 tideDataText">
                <div class="vSpacer0"></div>
                LOCATION<div id="tideDataLocation"></div>
                &nbsp;&nbsp;&nbsp;
                SEA LEVEL<div id="tideDataSeaLevel"></div>
            </div>
        </div>
        <div id="tideCanvas"></div>
    </div>
    <div class=" arrowCTA" id="purposeCTA">
        <div id="downArrow">
            <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7.5 7.5L14 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></svg>
            </div>
        </div>
    </div>