<div class="centered" id="splashCentered">
    <div class="background">
        <img src="/assets/images/video-bg.png" alt="Ocean Reef">
    </div>
    <div id="splashCanvas"></div>
    <div id="splashForeground">
        <div id="navBar">
            <div id="navLogo">LOGO</div>
            <div id="navLinks">
                <div id="navLink">
                    <a href="/">IMPACT MEDIA</a>
                </div>
                <div id="navLink">
                    <a href="/">CONSERVATION GRANTEES</a>
                </div>
                <div id="navLink">
                    <a href="/">ABOUT</a>
                </div>
            </div>
        </div>
        <div class="h1_0" id="splashSVG">code preview blue</div>
        <div class="b_0" id="splashCTA">DIVE DEEPER</div>
    </div>
</div>