<div class="centered" id="splashCentered">
    <div class="background">
        <video src="/assets/images/splashBG.mp4" autoplay loop muted></video>
    </div>
    <div id="splashCanvas"></div>
    <div id="splashForeground">
        <div id="navBar">
            <div id="navLogo">
                <img src="/assets/images/logo.svg" alt="Code Blue">
            </div>
            <div id="navLinks">
                <div class="b1_0" id="navLink">
                    <a href="/">IMPACT MEDIA</a>
                </div>
                <div class="b1_0" id="navLink">
                    <a href="/">CONSERVATION GRANTEES</a>
                </div>
                <div class="b1_0" id="navLink">
                    <a href="/">ABOUT</a>
                </div>
            </div>
        </div>
        <div class="h1_0" id="splashSVG">
            <img src="/assets/images/logo.svg" alt="Code Blue">
        </div>
        <div class="b1_0" id="splashCTA">
            DIVE DEEPER
            <div id="downArrow">
                <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7.5 7.5L14 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>
</div>