---
pagination:
  data: someData.films
  size: 1
  alias: film
permalink: "films/{{ film.slug.current }}/"
layout: layouts/base.njk
---
{% from 'macros/filmCreditsComp.njk' import fcc %}

<div class="headerHero" style="background-image: url('{{ film.heroImage }}'); ">
  {% include "components/navBar.njk" %}
  <div class="bottomGradient"></div>
  <div class="headerTop textBoxMarginLROnly padLeft padRight">
    <div class="headerText">
      <div class="h0_5">FEATURED FILM</div>
      <div class="h0_5">{{film.subTitle}}</div>
      <div class="h2_0">{{film.title}}</div>
    </div>
  </div>
</div>

<div class="sevenThreeGrid textBoxMarginLROnly padLeft padRight">
  <div>
    <div class="h0_5">{{film.description}}</div>
  </div>
  <div>
    <button onclick="location.href='{{ film.ctaButton.link }}'" class="ctaButton">{{ film.ctaButton.name }}</button>
    <br>
    {% for key, value in film.metadata %}
      {% if key != "awards" %}
        {{ value }}
        <br>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="awardsTicker">
  {% for award in film.metadata.awards %}
    <img src="{{ award.award.graphic.url }}" alt="{{ award.award.name }}">
  {% endfor %}
</div>

<div class="padLeft padRight textBoxMargin">
  <div class="h0_5">WATCH THE TRAILER</div>
</div>

{# https://www.youtube.com/embed/t_O5Y8FWXpE?si=Lmak45m0oyMXDryB #}
{# the link must be from the embed code like the above #}

<div class="responsive-iframe textBoxMarginLROnly">
  <iframe class="" src="{{ film.trailerLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="padLeft padRight textBoxMarginLROnly">
  <div class="h0_5">
  IMAGE GALLERY
  </div>
  <div class="galleryGrid">
    {% for image in film.galleryImages %}
      <img src="{{ image.url }}" alt="{{ image.alt }}">
    {% endfor %}
  </div>

  <div class="h0_5">
    CREDITS
  </div>

  {{ fcc(film.credits, "director") }}
  {{ fcc(film.credits, "editor") }}
  {{ fcc(film.credits, "producer") }}
  {{ fcc(film.credits, "writer") }}
  {{ fcc(film.credits, "cinematographer") }}
  {{ fcc(film.credits, "productionDesigner") }}
  {{ fcc(film.credits, "sound") }}
  {{ fcc(film.credits, "cast") }}
  {{ fcc(film.credits, "associateProducer") }}
  {{ fcc(film.credits, "executiveProducer") }}

</div>

{% from 'macros/subFeaturedFilmComp.njk' import sffC %}
{% set notThisFilm = [] %}
{% set newFilmsArray = [] %}

{# here we are getting a list of all films that arent this page #}
{% for f in someData.films %}
  {% if f.title != film.title %}
    {% set notThisFilm = (notThisFilm.push(f), notThisFilm) %}
  {% endif %}
{% endfor %}

<br>

{% set uniqueValues = [] %}
{# Generate unique random values until we have three #}
{% for i in range(20) %}
  {# Limit attempts to avoid infinite loops #}
  {% set rand = range(0, notThisFilm.length) | random %}
  {# Check if the random value is already in the uniqueValues array #}
  {% set isDuplicate = false %}
  {% for value in uniqueValues %}
    {% if value == rand %}
      {% set isDuplicate = true %}
    {% endif %}
  {% endfor %}
  {% if not isDuplicate %}
    {% set uniqueValues = (uniqueValues.push(rand), uniqueValues) %}
  {% endif %}
{% endfor %}
{# If we have fewer than 3 unique values, fill with random values #}
{% for i in range(3 - uniqueValues | length) %}
  {% set rand = range(0, 5) | random %}
  {% set uniqueValues = (uniqueValues.push(rand), uniqueValues) %}
{% endfor %}

{% set threeUniqueValues = [] %}
{% for i in range(3) %}
  {% set threeUniqueValues = (threeUniqueValues.push(uniqueValues[i]), threeUniqueValues) %}
{% endfor %}

<div class="threeFeaturedFilmsComp">
  <div class="threeColGrid">
    {% for i in threeUniqueValues %}
      {% if notThisFilm[i] %}
        {{ sffC(notThisFilm[i]) }}
      {% endif %}
    {% endfor %}
  </div>
</div>

{# is featured: {{ film.isFeatured }} #}
{# <img src="{{ film.posterImage }}" alt="{{ film.title }}"> #}