---
pagination:
  data: someData.films
  size: 1
  alias: film
permalink: "films/{{ film.slug.current }}/"
layout: layouts/base.njk
---
{% from 'macros/filmCreditsComp.njk' import fcc %}
<br>
<br>
<br>

<div class="padLeft padRight">
  <div class="h2_0 textBoxMargin">
    {{film.title}}
  </div>
  <div class="b2_0 textBoxMargin sevenThreeGrid">
    {{ film.description }}
    <div>
      <button onclick="location.href='{{ film.ctaButton.link }}'" class="ctaButton">{{ film.ctaButton.name }}</button>
      <br>
      <br>
      {% for key, value in film.metadata %}
        {% if key != "awards" %}
          {{ value }}
          <br>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {{ fcc(film.credits, "producer") }}
  {{ fcc(film.credits, "director") }}

</div>

<video width="100%" height="auto" controls>
  <source src="{{ film.trailerLink }}" >
  Your browser does not support the video tag.
  </video>

<div class="galleryGrid">
  {% for image in film.galleryImages %}
    <img src="{{ image.url }}" alt="{{ image.alt }}">
  {% endfor %}
</div>

{# is featured: {{ film.isFeatured }} #}
{# <img src="{{ film.posterImage }}" alt="{{ film.title }}"> #}