.ctaButton {
  border: 1px solid purple;
  background-color: orange;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  width: fit-content;
  border-radius: 50px;
  height: fit-content;
}

.horizontalButtonWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--padding1);
}
