.centered .background {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.centered .background img {
  width: 100%;
  object-fit: cover; /* This will ensure the image fills the space and crops if needed */
}

#featuredFilmForeground {
  position: absolute;
  color: white;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  bottom: 0;
  max-width: 30%;
  min-width: 10%;
  margin-bottom: 2%;
}

#featuredFilmInfo {
  gap: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}
