@font-face {
  font-family: "cdmono-regular";
  src: url("/assets/fonts/mono-regular.ttf");
}
@font-face {
  font-family: "cdmono-semiBold";
  src: url("/assets/fonts/mono-semiBold.ttf");
}

@font-face {
  font-family: "cdsans";
  src: url("/assets/fonts/sans.ttf");
}
@font-face {
  font-family: "cdserif";
  src: url("/assets/fonts/serif.otf");
}

._blue {
  color: #18d8f9;
}

.centerType {
  text-align: center;
}

/* .b0_5 { */
/* font-family: "cdserif"; */
/* font-size: clamp(1.2rem, 1vw, 2.25rem); */
/* } */
/* .b1_0 { */
/* font-family: "cdmono"; */
/* font-size: clamp(0.9rem, 1vw, 1.2rem); */
/* /////  line-height: clamp(0.9rem, 1vw, 1.2rem); */
/* color: white; */
/* } */
/* .b2_0 { */
/* font-family: "cdsans"; */
/* font-size: clamp(0.8rem, 1vw, 2rem); */
/* ////// line-height: clamp(1.5rem, 1vw, 2rem); */
/* color: white; */
/* } */

.h0_5 {
  font-size: var(--pt36);
  font-family: "cdserif";
  /* font-size: clamp(1.6rem, 1vw, 2.8rem); */
  /* font-size: clamp(1.6rem, 1vw, 2.8rem); */
}

.h1_0 {
  font-size: var(--pt60);
  font-family: "cdserif";
  /* font-size: clamp(2.8rem, 5vw, 4.5rem); */
  /* line-height: clamp(2.3rem, 5vw, 4rem); */
}

.h1_5 {
  font-size: var(--pt72);
  font-family: "cdserif";
  /* font-size: clamp(3rem, 5vw, 5rem); */
  /* line-height: clamp(3rem, 5vw, 4.5rem); */
}

.h2_0 {
  font-size: var(--pt96);
  font-family: "cdserif";
  /* font-size: clamp(3.3rem, 5vw, 5.5rem); */
  /* line-height: clamp(2.3rem, 5vw, 4rem); */
}

/* *****************  */
/*   NEW BODY FONTS   */
/* *****************  */

/*        MONO        */
.bm0 {
  font-family: "cdmono-regular";
  text-transform: uppercase;
  font-size: var(--pt10);
}
.bm1 {
  font-family: "cdmono-semiBold";
  text-transform: uppercase;
  font-size: var(--pt11);
  font-weight: bolder;
}
.bm2 {
  font-family: "cdmono-regular";
  text-transform: uppercase;
  font-size: var(--pt12);
}
.bm3 {
  font-family: "cdmono-regular";
  text-transform: uppercase;
  font-size: var(--pt14);
}

/*        SANS        */
.bs0 {
  font-family: "cdsans";
  font-weight: light;
  font-size: var(--pt16);
}
.bs1 {
  font-family: "cdsans";
  font-weight: 100;
  font-size: var(--pt18);
}
.bs2 {
  font-family: "cdsans";
  font-weight: light;
  color: #104eb2;
  font-size: var(--pt19);
}
.bs3 {
  font-family: "cdsans";
  font-weight: light;
  font-size: var(--pt20);
}

/*        SERIF        */
.bser0 {
  font-family: "cdserif";
  font-weight: light;
  font-size: var(--pt20);
}
.bser1 {
  font-family: "cdserif";
  font-weight: light;
  text-decoration: underline;
  font-size: var(--pt24);
}
.bser2 {
  font-family: "cdserif";
  font-weight: light;
  font-size: var(--pt30);
  line-height: 1.3;
}
