#footer {
  position: relative;
  display: flex;
  width: auto;
  height: 66%;
  bottom: 0;
  flex-direction: row;
  border: 2px solid black;
}

#footer div {
  border: 1px solid black;
  padding: 10px;
}

#footer #wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#footerLeftCenter {
  flex-direction: column;
  flex-shrink: 1;
  width: 60%;
}
#footerLeftCenterTop {
  flex-shrink: 4;
}
#footerLeftCenterBottom {
  flex-direction: row;
}
#footerLeft {
  flex-grow: 1;
  justify-content: flex-start;
}
#footerCenter {
  justify-content: flex-start;
  width: 60%;
  text-wrap: wrap;
}
#footerRight {
  flex-grow: 1;
  position: relative;
}
#footerRight img {
  position: absolute;
  top: 0;
  left: 0;
}
#footerRightCopy {
  text-align: right;
  /* position: absolute; */
  /* bottom: 0; */
}

.footerChild {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#footerLeftChildTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#footerLeftChildBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#footerCenterChildBottom {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0px;
}

#footerCenterChildBottom * {
  padding: 0px;
  margin: 0px;
  text-align: left;
}
