/* 2 Column Horizontal Grid */
.twoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 2%; */
  /* gap: 2%; */
}

.twoColGrid * {
  /* padding: 2%; */
}

#leftColHeadline {
  padding-left: 12%;
  border: 1px solid red;
}
#rightColCopy {
  border: 1px solid blue;
}
/* */

/* Centered */
.centered {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* */
