/* 2 Column Horizontal Grid */
.twoColGrid {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
}

/* Centered */
.centered {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignVertCenter {
  align-items: center;
}
