.headerHero {
  box-sizing: border-box;
  /* width: calc(100% - (var(--margin0LR) * 2)); */
  position: relative;
  height: 50vh;
  padding-top: 10vh;

  background-size: cover;
}

.headerText {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 1rem; /* Optional: Add some padding at the bottom */
}

.headerDescription {
  position: relative;
}

.headerTop {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: bottom;
}
