.headerHero {
  box-sizing: border-box;
  /* width: calc(100% - (var(--margin0LR) * 2)); */
  position: relative;
  height: 100%;
  padding-top: 20vh;

  background-size: cover;
}

.headerText {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 1rem; /* Optional: Add some padding at the bottom */
}

#overlayGrad {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  /* the height of this should be calculated based on the height of the image */
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #030b22);
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fff); */
  z-index: 0;
  pointer-events: none;
}

.headerDescription {
  position: relative;
}

.headerTop {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: bottom;
}
