.headerHero {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid red;
  background-size: 100% auto; /* Changed to ensure width is always 100% of the parent */
  background-position: top;
  background-repeat: no-repeat;
}

.headerText {
  position: relative;
}

.headerDescription {
  position: relative;
}

.headerTop {
  width: 100%;
  height: 100%;
  padding-top: 25%;
}
