#mission {
  display: flex;
  align-items: center;
}

#missionCopy {
  width: 60%;
}

#missionRight canvas {
  height: 100%;
  width: 100%;
}

#waterOrb {
  height: auto !important;
  width: 100% !important;
  border: none;
  background-color: transparent;
  mix-blend-mode: multiply;
}
