#mission {
  display: flex;
  align-items: center;
  height: 100vh;
  width: auto;
  box-sizing: border-box;
}

#missionCopy {
  width: 90%;
}

#missionRight {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 50px;
  min-height: 50px;
}

#missionRight iframe {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: absolute;
}

#waterOrb {
  height: auto !important;
  width: 100% !important;
  border: none;
  background-color: transparent;
  mix-blend-mode: multiply;
}
