li {
  list-style-type: none;
  padding: 0;
  line-height: 2.25rem;
  text-decoration: none;
  text-decoration: none;
  margin: 5px 0;
  color: white;
  text-align: left;
  transition: background-color 0.3s;
}
li:hover {
  background-color: lightblue;
}
a {
  text-decoration: none;
}
