* {
  cursor: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#subCursor {
  font-size: 30px;

  font-weight: 300;
  overflow: hidden;
  position: absolute;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 9999;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.0888s ease-out; */
  /* transition: width 0.5s, height 0.5s; */
  animation: rotate 2s linear infinite;
}
#subCursor p {
  color: white;
  filter: none;
  opacity: 1;
  position: absolute;
  transform: rotate(-360deg);
  animation: rotate 2s linear infinite reverse;
}

/* #cursor img { */
/* } */
