#thumbnail::after {
  content: "";
  position: absolute;
  top: var(--after-top);
  left: 0;
  width: 100%;
  height: var(--after-bottom);
  box-sizing: border-box;
  border-radius: var(--after-radius);
  border: 3px solid black;
  border-radius: 30px;
  pointer-events: none;
}

#thumbnail {
  pointer-events: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
  background-color: white;
  --after-radius: 0;
  --after-opacity: 0;

  filter: blur(33px);
}

#thumbnail:hover {
  cursor: pointer;
}

#frontC {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  --after-height: 0;
  --before-height: 0;
  border-radius: 30px;
}

#frontC::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: var(--after-height);
  background-color: white;
  box-shadow: 0 10px 10px -10px black;
  border: none;
  box-sizing: border-box;
}

#frontC::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: var(--before-height);
  background-color: white;
  box-shadow: 0 -10px 10px -10px black;
  border: none;
  box-sizing: border-box;
}

#thumbnail img {
  margin: 0;
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#thumbnail video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

canvas {
  min-width: none;
  min-height: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
