#splash {
  width: 100%;
  height: 100vh !important;
}

#splash video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

#splash #navBar {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}
#splash #navBar * {
  color: white;
}

#splashCanvas {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#splashCanvas canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#splashForeground {
  position: absolute;
  z-index: 1;
  gap: 1rem;
  color: white;

  width: 100%;
  height: 100%;
}

#splashForeground #navBar {
  /* background-color: black; */
  /* border: 1px solid white; */
  padding-left: var(--bodyMargin);
  padding-right: var(--bodyMargin);
  padding-top: calc(var(--bodyMargin) / 2);
  padding-bottom: calc(var(--bodyMargin) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#splashForeground #navBar img {
  height: 2rem;
  width: auto;
  /* border: 1px solid white; */
}

#splashForeground #navBar * {
  gap: 1rem;
  color: white;
}

#splashForeground #navBar #navLinks {
  display: flex;
  flex-direction: row;
}

#splashSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  /* border: 1px solid red; */
}

.arrowCTA {
  position: absolute;
  z-index: 4;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrowCTA #downArrow {
  animation: oscillate 2s ease-in-out infinite;
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}

#loadingScreen {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#0b1a4a, #1a2a4b);
  z-index: 5;
}

#loadingScreen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: auto;
}

#loadingScreen p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#lottieCanvas {
  transform: scale(0.8);
}
