#splash {
  width: 100%;
  height: 100%;
}

#splashCentered {
  height: 100vh !important;
}

#splashCentered video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#splash #navBar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}
#splash #navBar * {
  color: white;
}

#splashCanvas {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#splashCanvas canvas {
  width: 100%;
  height: 100%;
}

#splashForeground {
  position: absolute;
  z-index: 2;
  gap: 1rem;
  color: white;

  width: 100%;
  height: 100%;
}

#splashForeground #navBar {
  /* background-color: black; */
  /* border: 1px solid white; */
  padding-left: var(--bodyMargin);
  padding-right: var(--bodyMargin);
  padding-top: calc(var(--bodyMargin) / 2);
  padding-bottom: calc(var(--bodyMargin) / 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#splashForeground #navBar img {
  height: 2rem;
  width: auto;
  /* border: 1px solid white; */
}

#splashForeground #navBar * {
  gap: 1rem;
  color: white;
}

/* #splashForeground #navBar #navLogo img { */
/* border: 1px solid white; */
/* position: relative; */
/* } */

#splashForeground #navBar #navLinks {
  display: flex;
  flex-direction: row;
}

#splashSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
}

#splashCTA {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splashCTA #downArrow {
  animation: oscillate 2s ease-in-out infinite;
}

@keyframes oscillate {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}
