---
layout: layouts/base.njk
title: "Impact Media"
---
{% from 'macros/subFeaturedFilmComp.njk' import sffC %}

Supporting impactful organizations that champion conservation and restoration of critical planetary ecosystems.

<div class="threeFeaturedFilmsComp">
      <div class="threeColGrid">
            {% for f in someData.films %}
                  {{ sffC(f) }}
            {% endfor %}
      </div>
</div


<div class="h0_5 textBoxMargin">FEATURED MEDIA PARTNER<br>{{someData.mediaPartners[0].partnerName + someData.mediaPartners[0].partnerProject}}</div>

<div class="h0_5 textBoxMargin">FEATURED MEDIA PARTNER<br>{{someData.mediaPartners}}</div>

<div class="sevenFiveGrid">
<div>
      {# IMG CAROUSEL HERE #}
      {# https://codepen.io/GreenSock/pen/wvdJEXV #}
      <div class="imgCarousel">
            <div class="slides-container">
                  <div class="slides-inner">
                        <div class="slide">1</div>
                        <div class="slide">2</div>
                        <div class="slide">3</div>
                        <div class="slide">4</div>
                        <div class="slide">5</div>
                        <div class="slide">6</div>
                        <div class="slide">7</div>
                        <div class="slide">8</div>
                        <div class="slide">9</div>
                        <div class="slide">10</div>
                  </div>
            </div>
            <div class="controls">
                  <button id="prevButton">Prev</button>
                  <button id="nextButton">Next</button>
            </div>
      </div>
</div>
<div>
      <div class="b1_0 textBoxMargin">10 PART SHORT FILM SERIES</div>

      <div class="h1_5 textBoxMargin">Dispatches from the Outlaw Ocean</div>
      <div class="b2_0 textBoxMargin">The high seas are a lawless frontier where crimes such as murder, slavery and environmental destruction are often met with impunity and overlooked by the media. But the ocean is also a place of discovery and reinvention, offering freedom from the constraints of society.</div>

      <button class="ctaButton b1_0 textBoxMarginLROnly">
            <a href="#" data-replace="CTA CONTENT">
                  <span>CTA CONTENT</span>
            </a>
      </button>
</div>
</div>