---
layout: layouts/base.njk
title: "Code Blue"
---

{% include "components/homeSections/purpose.njk" %}

{% include "components/homeSections/mission.njk" %}

<div class="componentContainer">
    <div class="twoColGrid padLeft">
        <div id="leftColHeadline" class="h1_0 textBoxMargin">FEATURED<br>FILM</div>
        <div id="rightColCopy" class="b2_0 textBoxMargin">Directed by Matthieu Rytz and Narrated by Jason Momoa, Deep Rising exposes the corporations and corrupted world leaders trying to exploit our common heritage of humankind.</div>
    </div>
    {% include "components/homeSections/featuredFilm.njk" %}
</div>

<div class="componentContainer">
    <div class="centered">
        <div class="h1_0 textBoxMargin"> FEATURED PARTNERSHIPS</div>
    </div>
    {% include "components/homeSections/featuredPartnerships.njk" %}
</div>