---
layout: layouts/base.njk
title: "Code Blue"
---

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
<script type="module" src="/js/setupSplash.js"></script>
<script type="module" src="/js/splashSketch.js"></script>
{# <script type="module" src="/js/sphereSketch.js"></script> #}

<div class="centered" id="splash">
    <div class="background" id="splashVideo">
        <video src="/assets/images/splashBG.mp4" autoplay loop muted></video>
    </div>
    <div id="splashCanvas"></div>
    <div id="splashForeground">
        {% include "components/navBar.njk" %}
    </div>
    <div id="loadingScreen"></div>
    <div class="h1_0" id="splashSVG">
        <canvas id="lottieCanvas"></canvas>
    </div>
    <div class="b1_0 arrowCTA" id="splashCTA">
            DIVE DEEPER
            <div id="downArrow">
            <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7.5 7.5L14 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
</div>

{% include "components/homeSections/purpose.njk" %}

{% include "components/homeSections/mission.njk" %}

<div id="subBody">
    <div class="componentContainer">
        <div class="twoColGrid padLeft">
            <div id="leftColHeadline" class="h1_0 textBoxMargin">FEATURED<br>FILM</div>
            <div id="rightColCopy" class="b2_0 textBoxMargin">Directed by Matthieu Rytz and Narrated by Jason Momoa, Deep Rising exposes the corporations and corrupted world leaders trying to exploit our common heritage of humankind.</div>
        </div>
        {% include "components/homeSections/featuredFilm.njk" %}
    </div>

    <div class="componentContainer">
        <div class="centered">
            <div class="h1_0 textBoxMargin"> FEATURED PARTNERSHIPS</div>
        </div>
        {% include "components/homeSections/featuredPartnerships.njk" %}
    </div>
</div>