---
layout: layouts/base.njk
title: "The Code Blue Story"
---
{% from 'macros/headerComp.njk' import headerComp %}

<div class="headerHero">
      <img src="{{someData.story.heroImage}}" alt="Hero Image">
      <div class="headerText textBoxMarginLROnly padLeft padRight">
            {{ headerComp(someData.headers.story) }}
            <div>Photo: {{someData.story.imageCredit}}</div>
      </div>
      <div class="h1_0 textBoxMargin padLeft padRight">
            {{someData.story.description}}
      </div>
</div>

<div class="padLeft padRight textBoxMargin">
      <div class="threeSevenGrid">
            <div>
                  <div>Shari Sant</div>
                  <img src="{{someData.story.shariPhoto}}" alt="Photograph of Shari">
            </div>
            <div class="b2_0 textBoxMargin">
                  {{someData.story.shariBio}}
            </div>
      </div>
</div>