---
layout: layouts/base.njk
title: "The Code Blue Story"
---
<script>
      let bodyGradient = document.getElementById('bodyGradient');
      bodyGradient.style.backgroundImage = 'url({{ someData.story.heroImage | url }})';
</script>

{% from 'macros/staticHeaderComp.njk' import staticHeaderComp %}
{{ staticHeaderComp(someData.headers.story, someData.story) }}

<div class="vSpacer1"></div>

<div class="margin0LR">
      <div class="bser2 margin1LR padding1LRRight">
            {{ someData.story.description  }}
      </div>
</div>

<div class="vSpacer2"></div>

<div class="margin0LR">
      <div class="threeSevenGrid margin1LR">
            <div>
                  <div class="h0_5">Shari Sant</div>
                  <img src="{{someData.story.shariPhoto}}" alt="Photograph of Shari">
            </div>
            <div class="bs3 padding1LRRight">
                  {{someData.story.shariBio}}
            </div>
      </div>
</div>