---
layout: layouts/base.njk
title: "The Code Blue Story"
---
{% from 'macros/headerComp.njk' import headerComp %}

<div class="headerHero" style="background-image: url('{{ someData.story.heroImage }}');">
      {% include "components/navBar.njk" %}
      <div class="headerTop textBoxMarginLROnly padLeft padRight">
            <div class="headerText">
                  {{ headerComp(someData) }}
                  <div>Photo: {{someData.story.imageCredit}}</div>
            </div>
            <div class="vSpacer"></div>
            <div class="h1_0">
                  {{someData.story.description}}
            </div>
      </div>
</div>

<div class="vSpacer"></div>

<div class="padLeft padRight textBoxMargin">
      <div class="threeSevenGrid">
            <div>
                  <div>Shari Sant</div>
                  <img src="{{someData.story.shariPhoto}}" alt="Photograph of Shari">
            </div>
            <div class="b2_0 textBoxMargin">
                  {{someData.story.shariBio}}
            </div>
      </div>
</div>